<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <security:http auto-config="false" use-expressions="true" entry-point-ref="restAuthenticationEntryPoint">
        <security:custom-filter ref="jwtAuthenticationFilter" position="PRE_AUTH_FILTER"/>
        <security:intercept-url pattern="/login" access="permitAll"/>
        <security:intercept-url pattern="/admin/**" access="hasRole('ADMIN')"/>
        <security:intercept-url pattern="/client/**" access="hasRole('CLIENT')"/>
        <security:intercept-url pattern="/employee/**" access="hasRole('EMPLOYEE')"/>
        <security:logout logout-url="/logout" />
    </security:http>

    <bean id="restAuthenticationEntryPoint" class="org.latifah.securelogin.config.RestAuthenticationEntryPoint"/>
    <bean id="jwtAuthenticationFilter" class="org.latifah.securelogin.filter.JwtFilter"/>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:user-service>
                <security:user name="admin" password="{noop}admin123" authorities="ROLE_ADMIN"/>
                <security:user name="client" password="{noop}client123" authorities="ROLE_CLIENT"/>
                <security:user name="employee" password="{noop}employee123" authorities="ROLE_EMPLOYEE"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <!-- Enable Spring MVC -->
    <context:component-scan base-package="org.latifah.securelogin.controller" />

    <!-- Enable annotations for Spring MVC controllers -->
    <mvc:annotation-driven />

</beans>
